<widget xmlns="http://www.w3.org/ns/widgets"
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.minon.mini" 
	version="0.1.1">
	<name>Mini</name>
	<description>Bluetooth moto speedometer.</description>
	<gap:platform name="android" />
	<preference name="orientation" value="landscape"/>
	<preference name="fullscreen" value="true"/>
	<gap:plugin name="com.megster.cordova.bluetoothserial" />
</widget>